@*Author: Ryan French Date Complete: 2019/08/06
    Purpose: Manager view for the web application
    this view will allow the user to drag and drop patients into beds.
    the user must click the savve button after every move of a patient to ensure the data is saved properly
*@

@model beds.Models.bedPatientModel
<head>
    <title></title>
    <script src="~/js/dragAndDropFnc.js"></script>
    <style type="text/css">
        #bed {
            float: right;
            width: 175px;
            height: 125px;
            border: 5px dashed lightyellow;
            background: grey;
            text-align: center;
            margin: 20px 10px;
            color: orange;
            font-size: 15px;
        }

        #container {
            width: 300px;
            height: 400px;
            border: 5px dashed gray;
            background: lightyellow;
            text-align: center;
            margin: 20px 10px;
            color: orange;
            font-size: 15px;
        }
    </style>
</head>
<body>
    <h4>Patients</h4>
    <div class="card-deck">
        <div id="container" ondragover="dragOver(event);" ondrop="drop(event);">
            @foreach (var patient in Model._patient)
            {
                if (patient.Location == "")
                {
                    <div id="@patient.ID" class="card" draggable="true" ondragstart="dragStart(event);">
                        <div class="card-body">
                            <p class="card-text">@patient.Sex ,@patient.Age</p>
                        </div>
                    </div>
                }
            }
        </div>

        <div>
            <h4>Beds</h4>
            <h7>Drag and drop patients to assign them to a bed</h7>
            @{int count = 0;}
            @foreach (var bed in Model._beds)
            {
                if (count % 2 == 0)
                {
                    @:<div class="card-deck">
                    }
                    <div id="bed">
                        <p class="card-text">@bed.Name</p>
                        <div class="card-body" id="@bed.ID" ondragover="dragOver(event);" ondrop="drop(event);">
                            @foreach (var patient in Model._patient)
                            {
                                if (patient.Location == bed.ID)
                                {
                                    <div id="@patient.ID" class="card" draggable="true" ondragstart="dragStart(event);">
                                        <div class="card-body">
                                            <p class="card-text">@patient.Sex ,@patient.Age</p>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                    if (count % 2 == 1)
                    {
                    @:</div>
                }
                count++;
            }



        </div>

    </div>
    <form asp-controller="Home" asp-action="Manager" method="post">
        <h4>Please click save after each movement of a patient</h4>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" id="beingDragged" name="beingDragged" required readonly />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" id="droppedIn" name="droppedIn" required readonly />
            </div>
        </div>

        <div>
            <button type="submit">Save Bed</button>
        </div>
    </form>
</body>